/** 
{ 
	font-family: "arial"; 
}
*/
/*table.calendar
{
	border-collapse: collapse;
	font-size: 12px;
}
*/
/*.week
{
	height: 250px;

	margin: 0;
	padding: 0;
}
*/
/*.week-number
{
	width: 40px;

	border: 1px solid black;
	margin: 0;
	padding: 20px 5px;

	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
*/
/*.week-total
{
	width: 300px;
	border: 1px solid black;
	background: #eee;
	position: relative;

	margin: 0;
	padding: 0;
}
*/
/*.plan, .actual, .empty, .date
{
	margin: 0;
	padding: 2px;	
	position: absolute;
	left:0;
	right:0;
}
*/
/*.date
{
	top: 0px;	
	height: 15px;
}
*/
/*.plan
{
	top: 23px;
	height: 60px;
}

*/
/*.actual, .empty
{
	bottom: 0px;
	height: 100px;
}
*/
/*.actual
{
	background: #dfd;
	color: #080;
}

.actual span, .plan span
{
	cursor: pointer;
}

.empty
{
	background: #ddf;
	color: #008;
}

.distance
{
	font-size: 20px;
	font-weight: bold;
}

.time
{
	font-size: 14px;
}

.pace
{
	font-size: 12px;
}
*/
.selected
{
	font-weight: bold;
}
/*
li
{
	cursor: pointer;
}

td.today
{
	background: #cfc;
}

.current-week .week-number
{
	background: #cfc;
}

.weekend
{
	background: #fcc;
}

.week input
{
	width: 90px;
}*/


/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}



/* upper part */

.dropdown-menu a 	{	cursor: pointer; }
[contenteditable] 	{	cursor: pointer; }
.action 			{	cursor: pointer; }



/* calendar table */

.week-number
{
	width: 30px;
	font-size: large;
	font-weight: bold;
}

.day
{
	width:  110px;
	position: relative;
}

.week-total
{
	width: 200px;
}

.day .date, .week-total .date
{
	font-size: x-small;
}

.week input
{
	width: 90px;
}

.plan
{
	height: 80px;
}

.actual
{
	height: 80px;
}

.actual
{
  /*color: #46AA47;*/
  color: #27ae60;
}

td.today
{
	border: 2px solid #c0392b;
}
