#map
{
	opacity: 0.01;
	/*height: 550px;*/
	height: 400px;
}

#map[data-loaded]
{
	opacity: 1.0;
	transition-duration: 3s;
}

#bookmarks
{
	margin-top: 5px;
}

#bookmarks button
{
/*	margin-right: 2px;*/
/*	width: 10%; */
	padding-left: 25px;
	padding-right: 25px;
}

img
{
	cursor: pointer;
}

.blue
{
	background-color: blue;
}

#update-runner-block
{
	display: none;
}