<!doctype html>
<html lang="es" ng-app="training">
<head>
	<meta charset="UTF-8">
	<title>Entrenamiento</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	
	<div class="header">
		<h1>Entrenamiento</h1>
	</div>

	<ul class="users" ng-controller="UserListCtrl">
		<li class="user" ng-repeat="user in users">{{user.name}}, {{user.birthdate}}<button ng-click='delete(user)'>x</button></li>
		<li class="addButton" ng-hide="addMode"><button ng-click="toggleAddMode()">+</button></li>
		<li class="newUser" ng-show="addMode">
			<input type="text" ng-model="newUser.name" />
			<input type="date" ng-model="newUser.birthdate" />
			<button ng-click='save()'>Save</button></li>
	</ul>

	<div class="main" ng-controller="WeekCalendarCtrl">

		<ul class="competitions">
			<li class="competition" ng-repeat="competition in competitions">{{competition.name}}</li>
		</ul>

		<table class="calendar">			
			
			<tr class="week" ng-repeat="week in weeks" id="w{{week.id}}">
				<td class="week-number">{{week.index}}</td>
				<td class="day" ng-repeat="day in week.days" id="d{{week.id}}_{{day.id}}">
					<div class="plan" ng-show="day.plan">
						<span class="distance">{{day.plan.distance | formatDistance }}</span>
					</div>
					<div class="actual" ng-show="day.actual">
						<span class="distance">{{day.actual.distance | formatDistance }}</span><br />
						<span class="time">{{day.actual.time | formatTime }}</span> <span class="pace">({{day.actual.pace | formatTime }}/km)</span>
					</div>
					<div class="empty" ng-show="(day.plan && !day.actual)"></div>
				</td>
				<td class="week-total"></td>				
			</tr>

		</table>
	</div>

	<div class="footer">
		
	</div>

</body>
</html>