<!doctype html>
<html lang="es" ng-app="training">
<head>
	<meta charset="UTF-8">
	<title>Entrenamiento</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<script src="lib/angular/angular-cookies.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	
	<div class="header">
		<h1>Entrenamiento</h1>
	</div>

	<ul>
		<li>Selected User: {{selectedUserId|json}}</li>
		<li>Selected Competition: {{selectedCompetitionId|json}}</li>
		<li>Selected Plan: {{selectedPlanId|json}}</li>
	</ul>

	<ul class="users" ng-controller="UserListCtrl">
		<li class="user" ng-repeat="user in users" ng-class="{selected: user._id==selectedUserId}" ng-click='select(user)'>
			{{user.name}}, {{user.birthdate}}<button ng-click='delete(user)'>x</button>
		</li>
		<li ng-hide="addMode" class="addButton">
			<button ng-click="toggleAddMode()">+</button>
		</li>
		<li ng-show="addMode" class="newUser">
			<input type="text" ng-model="newUser.name" />
			<input type="date" ng-model="newUser.birthdate" />
			<button ng-click='save()'>Save</button>
			<button ng-click='toggleAddMode()'>Cancel</button>
		</li>
	</ul>

	<ul class="competitions" ng-controller="CompetitionListCtrl">
		<li ng-repeat="competition in competitions" ng-class="{selected: competition._id==selectedCompetitionId}" ng-click='select(competition)'>
			{{competition.name}}, {{competition.date}}
		</li>
	</ul>

	<ul class="plans" ng-controller="PlanListCtrl">
		<li ng-repeat="plan in plans" ng-class="{selected: plan._id==selectedPlanId}" ng-click='select(plan)'>
			{{plan.name}}, {{plan.distance|formatDistance}}, {{plan.weeks}} semanas
		</li>
	</ul>

	<div class="main" ng-controller="WeekCalendarCtrl">

		<table class="calendar">			
			
			<tr class="week-header">
				<th class="week-number"></th>
				<th class="day">Lunes</th>
				<th class="day">Martes</th>
				<th class="day">Miércoles</th>
				<th class="day">Jueves</th>
				<th class="day">Viernes</th>
				<th class="day weekend">Sábado</th>
				<th class="day weekend">Domingo</th>
				<th class="week-total">Total</th>
			</tr>

			<tr class="week" ng-class="{'current-week': week.isCurrentWeek}" ng-repeat="week in weeks" id="w{{week.index}}">
				<td class="week-number">{{week.index}}</td>
				<td class="day" ng-class="{today: day.isToday, 'weekend': day.isWeekend}" ng-repeat="day in week.days" id="d{{day.index}}">
					<div class="date">{{day.index}} | {{day.date| formatDate}}</div>
					<div class="plan" ng-show="day.plan">
						<span class="distance">{{day.plan.distance | formatDistance }}</span>
					</div>
					<div class="actual" ng-show="day.actual">
						<span class="distance">{{day.actual.distance | formatDistance }}</span><br />
						<span class="time">{{day.actual.time | formatTime }}</span>
						<span class="pace">({{day.actual.pace | formatTime }}/km)</span>
					</div>
					<div class="empty" ng-show="(day.plan && !day.actual)"></div>
				</td>
				<td class="week-total">
					<div class="actual">
						<span class="distance">{{week.actual.distance | formatDistance }}</span><br />
						<span class="time">{{week.actual.time | formatTime }}</span>
						<span class="pace">({{week.actual.pace | formatTime }}/km)</span>
					</div>
					<div class="plan">					
						<span class="distance">{{week.plan.distance | formatDistance }}</span><br />					
					</div>
				</td>
			</tr>

		</table>
	</div>

	<div class="footer">
		
	</div>

</body>
</html>